# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.json
*.exe
*.out
*.o
*.obj
*.dll
*.so
*.dylib
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.7z
*.gz
*.bz2
*.deb
*.rpm
*.bin
*.img
*.iso
*.bin.cue
*.vcd
*.vmdk
*.data
*.DS_Store

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# Exclude directories
app/blogs/

# Whitelist specific directories
!app/