/* 基础样式 */
body,html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--bg-primary);
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: var(--text-primary);
}
.theme-transition .container {
    max-width: 1024px;
    margin: 0 auto;
    background-color: var(--bg-secondary);
}
.theme-transition footer {
    text-align: center;
    padding: 20px; 
    color: var(--text-primary);
}
.theme-transition footer a {
    color: var(--text-primary);
    text-decoration: none;
}
.theme-transition footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar a {
        display: block;
        text-align: left;
    }
    .container {
        margin: 10px 0;
        /* padding: 15px; */
        border-radius: 0;
    }
}
/* 首先设置html元素的背景色，这是最早被渲染的 */
html[data-theme="dark"] {
    background-color: #121212 !important;
    color: #e0e0e0 !important;
}
/* 确保body也是暗色的 */
html[data-theme="dark"] body {
    background-color: #121212 !important;
    color: #e0e0e0 !important;
}
/* 设置页面过渡，但延迟应用，避免初始加载时的过渡效果 */
.theme-transition {
    transition: background-color 0.5s ease, color 0.5s ease !important;
}