body,html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f4f4f4;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

/* 标题栏样式 */
.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #383c44; /* 比 highlight.js 主题颜色浅一点 */
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 14px;
    color: #c6c9d1; /* 比 highlight.js 主题颜色浅一点 */
}

/* 语言标签样式 */
.language-label {
    font-weight: bold;
}

/* 折叠按钮和复制按钮样式 */
.collapse-button, .copy-button {
    background-color: transparent; /* 透明背景 */
    color: #c6c9d1; /* 与标题栏文本颜色匹配 */
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease; /* 过渡效果 */
    text-decoration: none; /* 移除下划线 */
    margin-left: 10px; /* 添加左边距，使按钮之间有间隔 */
}
/* 折叠按钮和复制按钮悬停样式 */
.collapse-button:hover, .copy-button:hover {
    color: #c678dd; /* 鼠标悬停时的颜色 */
}

/* 确保 <a> 标签的颜色不受点击影响 */
.copy-button:visited {
    color: #c6c9d1; /* 与默认状态的颜色相同 */
}

/* 博客详情样式 */
.blog-details {
    max-width: 1024px;
    padding: 20px;
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    background-color: #fff;
}

.blog-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.blog-details .meta {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.blog-details .meta span {
    margin-right: 10px;
}

.blog-details .markdown-body {
    margin-top: 20px;
}

.blog-details .attachment {
    margin-top: 20px;
}

.blog-details .attachment a {
    display: inline-block;
    background-color: #383c44;
    color: #c6c9d1;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.blog-details .attachment a:hover {
    background-color: #c678dd;
}

.markdown-body {
    font-size: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    line-height: 1.6;
}

.markdown-body * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.markdown-body img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.markdown-body table {
    word-break: initial;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #c6cbd1;
}
.markdown-body table th {
    text-align: center;
    font-weight: bold;
}
.markdown-body table th, .markdown-body table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}
.markdown-body table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}
.markdown-body p {
    margin-top: 0;
    margin-bottom: 16px;
}
.blog-details {
    padding: 20px;
}

@media (max-width: 768px) {
    .blog-details {
        padding: 10px;
    } 
}

/* 图片放大样式 */
.zoom-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.zoom-image img {
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;
}

