body,html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--bg-primary);
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: var(--text-primary);
}

.container {
    max-width: 1024px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--bg-secondary);
    box-shadow: 0 0 10px var(--shadow-color);
}

footer {
    text-align: center;
    padding: 20px; 
    color: var(--text-primary);
}
footer a {
    color: var(--text-primary);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    .navbar a {
        display: block;
        text-align: left;
    }
    .container {
        margin: 10px 0;
        padding: 15px;
        border-radius: 0;
    }
    body, html {
        padding-top: 25px; /* 减小固定导航栏的空间 */
    }
}

.blog-posts {
    margin-top: 20px;
}
.blog-post {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}
.blog-post h2 {
    margin-top: 0;
}
.blog-post p {
    margin: 10px 0;
}