.blog-edit-container .form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-edit-container .form-group {
    flex-basis: calc(50% - 10px);
    margin-top: 10px;
}

.blog-edit-container .full-width {
    flex-basis: 100%;
    max-width: 100%; 
}

.blog-edit-container label {
    display: block;
    margin-bottom: 5px;
}

.blog-edit-container input[type="text"],
.blog-edit-container input[type="file"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.blog-edit-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.blog-edit-container button {
    background-color: #383c44;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.blog-edit-container button:hover {
    background-color: #4a4e57;
}

.blog-edit-container #blog-category {
    width: 100%; /* 设置下拉框宽度为100%，使其与其他元素宽度一致 */
    padding: 10px; /* 添加一些内边距，使下拉框看起来更美观 */
    font-size: 16px; /* 设置字体大小，使其与其他元素字体大小一致 */
    border: 1px solid #ccc; /* 添加边框，使其与其他元素边框一致 */
    border-radius: 4px; /* 添加圆角，使其与其他元素圆角一致 */
    box-sizing: border-box; /* 确保内边距和边框不会增加元素的总宽度 */
}

@media (max-width: 600px) {
    .blog-edit-container .form-group {
        flex-basis: 100%;
    }

    .blog-edit-container {
        padding: 10px;
    }

    .blog-edit-container input[type="text"],
    .blog-edit-container input[type="file"],
    .blog-edit-container textarea {
        padding: 8px;
    }

    .blog-edit-container button {
        padding: 8px 16px;
    }
}

.blog-edit-container .CodeMirror img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* 添加 toggle 开关样式 */
.blog-edit-container .toggle-switch {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.blog-edit-container .toggle-switch input[type="checkbox"] {
    display: none;
}

.blog-edit-container .toggle-switch label {
    display: block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}

.blog-edit-container .toggle-switch label:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    top: 2px;
    left: 2px;
    transition: left 0.3s;
}

.blog-edit-container .toggle-switch input[type="checkbox"]:checked + label {
    background-color: #2196F3;
}

.blog-edit-container .toggle-switch input[type="checkbox"]:checked + label:before {
    left: 22px;
}

.blog-edit-container .toggle-label {
    vertical-align: middle;
    margin-left: 5px;
}

.blog-edit-container .form-help {
    color: #666;
    font-size: 0.85em;
    margin-top: 5px;
    margin-bottom: 0;
}